
html, body, div, span, applet, object,
iframe, h1, h2, h3, h4, h5, h6, p, blockquote,
pre, a, abbr, acronym, address, big, cite,
code, del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var, b,
u, i, center, dl, dt, dd, ol, ul, li, fieldset,
form, label, legend, table, caption, tbody,
tfoot, thead, tr, th, td, article, aside,
canvas, details, embed, figure, figcaption,
footer, header, hgroup, menu, nav, output, ruby,
section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;}

body {
	line-height: 1;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

	blockquote:before, blockquote:after, q:before, q:after {
		content: '';
		content: none;
	}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

body {
	-webkit-text-size-adjust: none;
}

mark {
	background-color: transparent;
	color: inherit;
}

input::-moz-focus-inner {
	border: 0;
	padding: 0;
}

input, select, textarea {
	-moz-appearance: none;
	-webkit-appearance: none;
	-ms-appearance: none;
	appearance: none;
}

/* Basic */

	@-ms-viewport {
		width: device-width;
	}

	@media screen and (max-width: 480px) {

		html, body {
			min-width: 320px;
		}

	}

	html {
		box-sizing: border-box;
	}

	*, *:before, *:after {
		box-sizing: inherit;
	}

	body {
		background: #1b1f22;
	}

		body.is-preload *, body.is-preload *:before, body.is-preload *:after {
			-moz-animation: none !important;
			-webkit-animation: none !important;
			-ms-animation: none !important;
			animation: none !important;
			-moz-transition: none !important;
			-webkit-transition: none !important;
			-ms-transition: none !important;
			transition: none !important;
		}

/* Type */

	html {
		font-size: 16pt;
	}

		@media screen and (max-width: 1680px) {

			html {
				font-size: 12pt;
			}

		}

		@media screen and (max-width: 736px) {

			html {
				font-size: 11pt;
			}

		}

		@media screen and (max-width: 360px) {

			html {
				font-size: 10pt;
			}

		}

	body, input, select, textarea {
		color: #ffffff;
		font-family: "Source Sans Pro", sans-serif;
		font-weight: 300;
		font-size: 1rem;
		line-height: 1.65;
	}

	a {
		-moz-transition: color 0.2s ease-in, background-color 0.2s ease-in, border-bottom-color 0.2s ease-in;
		-webkit-transition: color 0.2s ease-in, background-color 0.2s ease-in, border-bottom-color 0.2s ease-in;
		-ms-transition: color 0.2s ease-in, background-color 0.2s ease-in, border-bottom-color 0.2s ease-in;
		transition: color 0.2s ease-in, background-color 0.2s ease-in, border-bottom-color 0.2s ease-in;
		border-bottom: dotted 1px rgba(255, 255, 255, 0.5);
		text-decoration: none;
		color: inherit;
	}

		a:hover {
			border-bottom-color: transparent;
		}

	strong, b {
		color: #ffffff;
		font-weight: 600;
	}

	em, i {
		font-style: italic;
	}

	p {
		margin: 0 0 2rem 0;
	}

	h1, h2, h3, h4, h5, h6 {
		color: #ffffff;
		font-weight: 600;
		line-height: 1.5;
		margin: 0 0 1rem 0;
		text-transform: uppercase;
		letter-spacing: 0.2rem;
	}

		h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
			color: inherit;
			text-decoration: none;
		}

		h1.major, h2.major, h3.major, h4.major, h5.major, h6.major {
			border-bottom: solid 1px #ffffff;
			width: -moz-max-content;
			width: -webkit-max-content;
			width: -ms-max-content;
			width: max-content;
			padding-bottom: 0.5rem;
			margin: 0 0 2rem 0;
		}

	h1 {
		font-size: 2.25rem;
		line-height: 1.3;
		letter-spacing: 0.5rem;
	}

	h2 {
		font-size: 1.5rem;
		line-height: 1.4;
		letter-spacing: 0.5rem;
	}

	h3 {
		font-size: 1rem;
	}

	h4 {
		font-size: 0.8rem;
	}

	h5 {
		font-size: 0.7rem;
	}

	h6 {
		font-size: 0.6rem;
	}

	@media screen and (max-width: 736px) {

		h1 {
			font-size: 1.75rem;
			line-height: 1.4;
		}

		h2 {
			font-size: 1.25em;
			line-height: 1.5;
		}

	}

	sub {
		font-size: 0.8rem;
		position: relative;
		top: 0.5rem;
	}

	sup {
		font-size: 0.8rem;
		position: relative;
		top: -0.5rem;
	}

	blockquote {
		border-left: solid 4px #ffffff;
		font-style: italic;
		margin: 0 0 2rem 0;
		padding: 0.5rem 0 0.5rem 2rem;
	}

	code {
		background: rgba(255, 255, 255, 0.075);
		border-radius: 4px;
		font-family: "Courier New", monospace;
		font-size: 0.9rem;
		margin: 0 0.25rem;
		padding: 0.25rem 0.65rem;
	}

	pre {
		-webkit-overflow-scrolling: touch;
		font-family: "Courier New", monospace;
		font-size: 0.9rem;
		margin: 0 0 2rem 0;
	}

		pre code {
			display: block;
			line-height: 1.75;
			padding: 1rem 1.5rem;
			overflow-x: auto;
		}

	hr {
		border: 0;
		border-bottom: solid 1px #ffffff;
		margin: 2.75rem 0;
	}

	.align-left {
		text-align: left;
	}

	.align-center {
		text-align: center;
	}

	.align-right {
		text-align: right;
	}






/* Image */

	.image {
		border-radius: 4px;
		border: 0;
		display: inline-block;
		position: relative;
	}

		.image:before {
			pointer-events: none;

			background-color: rgba(19, 21, 25, 0.5);
			border-radius: 4px;
			content: '';
			display: block;
			height: 100%;
			left: 0;
			opacity: 0.5;
			position: absolute;
			top: 0;
			width: 100%;
		}

		.image img {
			border-radius: 4px;
			display: block;
		}

		.image.left, .image.right {
			max-width: 40%;
		}

			.image.left img, .image.right img {
				width: 100%;
			}

		.image.left {
			float: left;
			padding: 0 1.5em 1em 0;
			top: 0.25em;
		}

		.image.right {
			float: right;
			padding: 0 0 1em 1.5em;
			top: 0.25em;
		}

		.image.fit {
			display: block;
			margin: 0 0 2rem 0;
			width: 100%;
		}

			.image.fit img {
				width: 100%;
			}

		.image.main {
			display: block;
			margin: 2.5rem 0;
			width: 100%;
		}

			.image.main img {
				width: 100%;
			}

		@media screen and (max-width: 736px) {

			.image.main {
				margin: 2rem 0;
			}

		}

		@media screen and (max-width: 480px) {

			.image.main {
				margin: 1.5rem 0;
			}

		}

/* List */

	ol {
		list-style: decimal;
		margin: 0 0 2rem 0;
		padding-left: 1.25em;
	}

		ol li {
			padding-left: 0.25em;
		}

	ul {
		list-style: disc;
		margin: 0 0 2rem 0;
		padding-left: 1em;
	}

		ul li {
			padding-left: 0.5em;
		}

		ul.alt {
			list-style: none;
			padding-left: 0;
		}

			ul.alt li {
				border-top: solid 1px #ffffff;
				padding: 0.5em 0;
			}

				ul.alt li:first-child {
					border-top: 0;
					padding-top: 0;
				}

	dl {
		margin: 0 0 2rem 0;
	}

		dl dt {
			display: block;
			font-weight: 600;
			margin: 0 0 1rem 0;
		}

		dl dd {
			margin-left: 2rem;
		}

/* Actions */

	ul.actions {
		display: -moz-flex;
		display: -webkit-flex;
		display: -ms-flex;
		display: flex;
		cursor: default;
		list-style: none;
		margin-left: -1rem;
		padding-left: 0;
	}

		ul.actions li {
			padding: 0 0 0 1rem;
			vertical-align: middle;
		}

		ul.actions.special {
			-moz-justify-content: center;
			-webkit-justify-content: center;
			-ms-justify-content: center;
			justify-content: center;
			width: 100%;
			margin-left: 0;
		}

			ul.actions.special li:first-child {
				padding-left: 0;
			}

		ul.actions.stacked {
			-moz-flex-direction: column;
			-webkit-flex-direction: column;
			-ms-flex-direction: column;
			flex-direction: column;
			margin-left: 0;
		}

			ul.actions.stacked li {
				padding: 1.3rem 0 0 0;
			}

				ul.actions.stacked li:first-child {
					padding-top: 0;
				}

		ul.actions.fit {
			width: calc(100% + 1rem);
		}

			ul.actions.fit li {
				-moz-flex-grow: 1;
				-webkit-flex-grow: 1;
				-ms-flex-grow: 1;
				flex-grow: 1;
				-moz-flex-shrink: 1;
				-webkit-flex-shrink: 1;
				-ms-flex-shrink: 1;
				flex-shrink: 1;
				width: 100%;
			}

				ul.actions.fit li > * {
					width: 100%;
				}

			ul.actions.fit.stacked {
				width: 100%;
			}

		@media screen and (max-width: 480px) {

			ul.actions:not(.fixed) {
				-moz-flex-direction: column;
				-webkit-flex-direction: column;
				-ms-flex-direction: column;
				flex-direction: column;
				margin-left: 0;
				width: 100% !important;
			}

				ul.actions:not(.fixed) li {
					-moz-flex-grow: 1;
					-webkit-flex-grow: 1;
					-ms-flex-grow: 1;
					flex-grow: 1;
					-moz-flex-shrink: 1;
					-webkit-flex-shrink: 1;
					-ms-flex-shrink: 1;
					flex-shrink: 1;
					padding: 1rem 0 0 0;
					text-align: center;
					width: 100%;
				}

					ul.actions:not(.fixed) li > * {
						width: 100%;
					}

					ul.actions:not(.fixed) li:first-child {
						padding-top: 0;
					}

					ul.actions:not(.fixed) li input[type="submit"],
					ul.actions:not(.fixed) li input[type="reset"],
					ul.actions:not(.fixed) li input[type="button"],
					ul.actions:not(.fixed) li button,
					ul.actions:not(.fixed) li .button {
						width: 100%;
					}

						ul.actions:not(.fixed) li input[type="submit"].icon:before,
						ul.actions:not(.fixed) li input[type="reset"].icon:before,
						ul.actions:not(.fixed) li input[type="button"].icon:before,
						ul.actions:not(.fixed) li button.icon:before,
						ul.actions:not(.fixed) li .button.icon:before {
							margin-left: -0.5em;
						}

		}


/* Button */

	input[type="submit"],
	input[type="reset"],
	input[type="button"],
	button,
	.button {
		-moz-appearance: none;
		-webkit-appearance: none;
		-ms-appearance: none;
		appearance: none;
		-moz-transition: background-color 0.2s ease-in, color 0.2s ease-in;
		-webkit-transition: background-color 0.2s ease-in, color 0.2s ease-in;
		-ms-transition: background-color 0.2s ease-in, color 0.2s ease-in;
		transition: background-color 0.2s ease-in, color 0.2s ease-in;
		background-color: transparent;
		border-radius: 4px;
		border: 0;
		box-shadow: inset 0 0 0 1px #ffffff;
		color: #ffffff !important;
		cursor: pointer;
		display: inline-block;
		font-size: 0.8rem;
		font-weight: 300;
		height: 2.75rem;
		letter-spacing: 0.2rem;
		line-height: 2.75rem;
		outline: 0;
		padding: 0 1.25rem 0 1.35rem;
		text-align: center;
		text-decoration: none;
		text-transform: uppercase;
		white-space: nowrap;
	}

		input[type="submit"]:hover,
		input[type="reset"]:hover,
		input[type="button"]:hover,
		button:hover,
		.button:hover {
			background-color: rgba(255, 255, 255, 0.075);
		}

		input[type="submit"]:active,
		input[type="reset"]:active,
		input[type="button"]:active,
		button:active,
		.button:active {
			background-color: rgba(255, 255, 255, 0.175);
		}

		input[type="submit"].icon:before,
		input[type="reset"].icon:before,
		input[type="button"].icon:before,
		button.icon:before,
		.button.icon:before {
			margin-right: 0.5em;
		}

		input[type="submit"].fit,
		input[type="reset"].fit,
		input[type="button"].fit,
		button.fit,
		.button.fit {
			width: 100%;
		}

		input[type="submit"].small,
		input[type="reset"].small,
		input[type="button"].small,
		button.small,
		.button.small {
			font-size: 0.6rem;
			height: 2.0625rem;
			line-height: 2.0625rem;
		}

		input[type="submit"].primary,
		input[type="reset"].primary,
		input[type="button"].primary,
		button.primary,
		.button.primary {
			background-color: #ffffff;
			color: #1b1f22 !important;
			font-weight: 600;
		}

		input[type="submit"].disabled, input[type="submit"]:disabled,
		input[type="reset"].disabled,
		input[type="reset"]:disabled,
		input[type="button"].disabled,
		input[type="button"]:disabled,
		button.disabled,
		button:disabled,
		.button.disabled,
		.button:disabled {
			pointer-events: none;
			cursor: default;
			opacity: 0.25;
		}

	input[type="submit"],
	input[type="reset"],
	input[type="button"],
	button {
		line-height: calc(2.75rem - 2px);
	}



/* Wrapper */

	#wrapper {
		display: -moz-flex;
		display: -webkit-flex;
		display: -ms-flex;
		display: flex;
		-moz-flex-direction: column;
		-webkit-flex-direction: column;
		-ms-flex-direction: column;
		flex-direction: column;
		-moz-align-items: center;
		-webkit-align-items: center;
		-ms-align-items: center;
		align-items: center;
		-moz-justify-content: space-between;
		-webkit-justify-content: space-between;
		-ms-justify-content: space-between;
		justify-content: space-between;
		position: relative;
		min-height: 100vh;
		width: 100%;
		padding: 4rem 2rem;
		z-index: 3;
	}

		#wrapper:before {
			content: '';
			display: block;
		}

		@media screen and (max-width: 1680px) {

			#wrapper {
				padding: 3rem 2rem;
			}

		}

		@media screen and (max-width: 736px) {

			#wrapper {
				padding: 2rem 1rem;
			}

		}

		@media screen and (max-width: 480px) {

			#wrapper {
				padding: 1rem;
			}

		}

		/* Header */

			#header {
				display: -moz-flex;
				display: -webkit-flex;
				display: -ms-flex;
				display: flex;
				-moz-flex-direction: column;
				-webkit-flex-direction: column;
				-ms-flex-direction: column;
				flex-direction: column;
				-moz-align-items: center;
				-webkit-align-items: center;
				-ms-align-items: center;
				align-items: center;
				-moz-transition: -moz-transform 0.325s ease-in, -moz-filter 0.325s ease-in, opacity 0.325s ease-in;
				-webkit-transition: -webkit-transform 0.325s ease-in, -webkit-filter 0.325s ease-in, opacity 0.325s ease-in;
				-ms-transition: -ms-transform 0.325s ease-in, -ms-filter 0.325s ease-in, opacity 0.325s ease-in;
				transition: transform 0.325s ease-in, filter 0.325s ease-in, opacity 0.325s ease-in;
				max-width: 100%;
				text-align: center;
			}

				#header > * {
					-moz-transition: opacity 0.325s ease-in;
					-webkit-transition: opacity 0.325s ease-in;
					-ms-transition: opacity 0.325s ease-in;
					transition: opacity 0.325s ease-in;
					position: relative;
					margin-top: 3.5rem;
				}

					#header > *:before {
						content: '';
						display: block;
						position: absolute;
						top: calc(-3.5rem - 1px);
						left: calc(50% - 1px);
						width: 1px;
						height: calc(3.5rem + 1px);
						background: #ffffff;
					}

				#header > :first-child {
					margin-top: 0;
				}

					#header > :first-child:before {
						display: none;
					}

				#header .logo {
					width: 5.5rem;
					height: 5.5rem;
					line-height: 5.5rem;
					border: solid 1px #ffffff;
					border-radius: 100%;
				}

					#header .logo .icon:before {
						font-size: 2rem;
					}

				#header .content {
					border-style: solid;
					border-color: #ffffff;
					border-top-width: 1px;
					border-bottom-width: 1px;
					max-width: 100%;
				}

					#header .content .inner {
						-moz-transition: max-height 0.75s ease, padding 0.75s ease, opacity 0.325s ease-in;
						-webkit-transition: max-height 0.75s ease, padding 0.75s ease, opacity 0.325s ease-in;
						-ms-transition: max-height 0.75s ease, padding 0.75s ease, opacity 0.325s ease-in;
						transition: max-height 0.75s ease, padding 0.75s ease, opacity 0.325s ease-in;
						-moz-transition-delay: 0.25s;
						-webkit-transition-delay: 0.25s;
						-ms-transition-delay: 0.25s;
						transition-delay: 0.25s;
						padding: 3rem 2rem;
						max-height: 40rem;
						overflow: hidden;
					}

						#header .content .inner > :last-child {
							margin-bottom: 0;
						}

					#header .content p {
						text-transform: uppercase;
						letter-spacing: 0.2rem;
						font-size: 0.8rem;
						line-height: 2;
					}

				#header nav ul {
					display: -moz-flex;
					display: -webkit-flex;
					display: -ms-flex;
					display: flex;
					margin-bottom: 0;
					list-style: none;
					padding-left: 0;
					border: solid 1px #ffffff;
					border-radius: 4px;
				}

					#header nav ul li {
						padding-left: 0;
						border-left: solid 1px #ffffff;
					}

						#header nav ul li:first-child {
							border-left: 0;
						}

						#header nav ul li a {
							display: block;
							min-width: 7.5rem;
							height: 2.75rem;
							line-height: 2.75rem;
							padding: 0 1.25rem 0 1.45rem;
							text-transform: uppercase;
							letter-spacing: 0.2rem;
							font-size: 0.8rem;
							border-bottom: 0;
						}

							#header nav ul li a:hover {
								background-color: rgba(255, 255, 255, 0.075);
							}

							#header nav ul li a:active {
								background-color: rgba(255, 255, 255, 0.175);
							}

				#header nav.use-middle:after {
					content: '';
					display: block;
					position: absolute;
					top: 0;
					left: calc(50% - 1px);
					width: 1px;
					height: 100%;
					background: #ffffff;
				}

				#header nav.use-middle ul li.is-middle {
					border-left: 0;
				}

				body.is-article-visible #header {
					-moz-transform: scale(0.95);
					-webkit-transform: scale(0.95);
					-ms-transform: scale(0.95);
					transform: scale(0.95);
					-moz-filter: blur(0.1rem);
					-webkit-filter: blur(0.1rem);
					-ms-filter: blur(0.1rem);
					filter: blur(0.1rem);
					opacity: 0;
				}

				body.is-preload #header {
					-moz-filter: blur(0.125rem);
					-webkit-filter: blur(0.125rem);
					-ms-filter: blur(0.125rem);
					filter: blur(0.125rem);
				}

					body.is-preload #header > * {
						opacity: 0;
					}

					body.is-preload #header .content .inner {
						max-height: 0;
						padding-top: 0;
						padding-bottom: 0;
						opacity: 0;
					}

				@media screen and (max-width: 980px) {

					#header .content p br {
						display: none;
					}

				}

				@media screen and (max-width: 736px) {

					#header > * {
						margin-top: 2rem;
					}

						#header > *:before {
							top: calc(-2rem - 1px);
							height: calc(2rem + 1px);
						}

					#header .logo {
						width: 4.75rem;
						height: 4.75rem;
						line-height: 4.75rem;
					}

						#header .logo .icon:before {
							font-size: 1.75rem;
						}

					#header .content .inner {
						padding: 2.5rem 1rem;
					}

					#header .content p {
						line-height: 1.875;
					}

				}

				@media screen and (max-width: 480px) {

					#header {
						padding: 1.5rem 0;
					}

						#header .content .inner {
							padding: 2.5rem 0;
						}

						#header nav ul {
							-moz-flex-direction: column;
							-webkit-flex-direction: column;
							-ms-flex-direction: column;
							flex-direction: column;
							min-width: 10rem;
							max-width: 100%;
						}

							#header nav ul li {
								border-left: 0;
								border-top: solid 1px #ffffff;
							}

								#header nav ul li:first-child {
									border-top: 0;
								}

								#header nav ul li a {
									height: 3rem;
									line-height: 3rem;
									min-width: 0;
									width: 100%;
								}

						#header nav.use-middle:after {
							display: none;
						}

				}



/* Footer */

	#footer {
		-moz-transition: -moz-transform 0.325s ease-in, -moz-filter 0.325s ease-in, opacity 0.325s ease-in;
		-webkit-transition: -webkit-transform 0.325s ease-in, -webkit-filter 0.325s ease-in, opacity 0.325s ease-in;
		-ms-transition: -ms-transform 0.325s ease-in, -ms-filter 0.325s ease-in, opacity 0.325s ease-in;
		transition: transform 0.325s ease-in, filter 0.325s ease-in, opacity 0.325s ease-in;
		width: 100%;
		max-width: 100%;
		margin-top: 2rem;
		text-align: center;
	}

		#footer .copyright {
			letter-spacing: 0.2rem;
			font-size: 0.6rem;
			opacity: 0.75;
			margin-bottom: 0;
			text-transform: uppercase;
		}

		body.is-article-visible #footer {
			-moz-transform: scale(0.95);
			-webkit-transform: scale(0.95);
			-ms-transform: scale(0.95);
			transform: scale(0.95);
			-moz-filter: blur(0.1rem);
			-webkit-filter: blur(0.1rem);
			-ms-filter: blur(0.1rem);
			filter: blur(0.1rem);
			opacity: 0;
		}

		body.is-preload #footer {
			opacity: 0;
		}
